<header class="site-header" role="banner">

  <nav class="site-nav">
    <div class="container">
      <div class="row">
        <div class="six columns">
          <img class="logo" alt="bitbanging logo" src={{"/assets/logo.svg" | prepend:site.baseurl}}>
          <a class="site-title" href="{{ "/" | relative_url }}"> {{ site.title | escape }}</a>
        </div>
        <div class="six columns uppercs">
          <ul>
            <li>
              <a href="{{ "/" | relative_url }}">Posts</a>
            </li>
            <li>
              <a href="{{ "/about" | relative_url }}">About</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </nav>


</header>