$spacing-unit: 30px;
$content-width: 700px !default;

// Colours
$black: #000;
$dark-gr: rgb(26, 26, 26);
$light-gr: rgb(157, 157, 157);
$almost-white: #eee;

.c-b {
	color: $black;
}
.c-dg {
	color: $dark-gr;
}
.c-lg {
	color: $light-gr;
}

.uppercs {
	text-transform: uppercase;
}

.site-title {
	font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
	text-transform: unset;
	font-size: 3.3rem;
	line-height: 1.7em;
	margin: $spacing-unit 0 $spacing-unit/2;
	text-decoration: none;
	color: $black;
	display: block;
	&:hover {
		color: $black;
	}

	@media (min-width: 550px) {
		margin: $spacing-unit 0;
	}
}

.logo {
	float: left;
	height: 61px;
	margin: 30px 12px 30px 0px;
	box-shadow: none;
}

body {
	font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1.4em;
	line-height: 1.7em;
	font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: 0rem;
}

h1 {
	font-size: 3rem;
	text-transform: none;
	font-weight: 500;
}
h2 {
	font-size: 2rem;
	margin-bottom: 1.4rem;
}
h3 {
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
	font-style: italic;
}
h4,
h5,
h6 {
	font-size: 1.4rem;
	margin-bottom: 0.2rem;
	font-style: italic;
}

/* Larger than phablet */
@media (min-width: 550px) {
	h1 {
		font-size: 3.6rem;
	}
	h2 {
		font-size: 2.2rem;
	}
}

main {
	display: block;
}

/*
    Site header
*/

// .site-header {
//   height: 120px;
// }

.site-nav {
	ul {
		list-style-type: none;
		margin: 0;
		text-align: right;
		max-width: 100%;

		li {
			display: inline-block;
			line-height: 1.7rem;
			margin: 0;
			padding-left: $spacing-unit;

			@media (min-width: 550px) {
				line-height: 60px;
				margin: $spacing-unit $spacing-unit/2;
			}

			a {
				text-decoration: none;
				color: $light-gr;
				font-size: 1.3rem;
			}
		}
	}
}

/**
 * Page content
 */
.page-content,
.site-footer {
	padding: 20px;
	max-width: $content-width;

	@media (min-width: 550px) {
		padding: $spacing-unit 0;
	}
}

.abstr {
	font-size: 1.9rem;
	font-style: italic;
	color: $light-gr;
}

.post-list-heading {
	border-bottom: 1px solid $almost-white;
	margin-bottom: $spacing-unit/2;
}

.post-list {
	margin-left: 0;
	list-style: none;

	li {
		padding-bottom: $spacing-unit/2;
		// border-bottom: 1px solid $almost-white;
		margin-bottom: $spacing-unit;
	}
	p {
		margin-bottom: 1em;
		@media (min-width: 550px) {
			margin-top: 1em;
		}
	}

	h2 {
		text-transform: none;
	}
	@media (min-width: 550px) {
		h2 {
			margin-top: 1.4rem;
			font-weight: 500;
		}
	}
}

//   .post-meta {
//     font-size: $small-font-size;
//     color: $grey-color;
//   }

.post-link {
	display: block;
	transition: color 0.15s ease-in;
	text-decoration: none;

	&:hover {
		color: $light-gr;
	}
}

.post-img-container {
	@media (min-width: 550px) {
		padding-left: 30px;
	}
}

.post-img {
	//background: url(/assets/img/att10_1.png) center center no-repeat;
	//height: 132.1px;
	//background-size: contain;
	// padding-left: 30px;
	// border-left: #eee 1px solid;
	height: 110px;
	// background-image: url(/assets/img/OLED_fully_on.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/* padding-left: 30px; */
	/* border-left: #eee 1px solid; */
	border-radius: 5px;
	overflow: hidden;
	

	img {
		max-width: fit-content;
		height: inherit;
		/* width: auto; */
		/* overflow: hidden; */
		/* left: -89px; */
		/* margin: auto; */
		/* text-align: center;*/
	}
}

/**
   * Posts
   */
.post-header {
	margin-bottom: $spacing-unit;
}

.post-title {
	letter-spacing: -1px;
	line-height: 1;
}

.post-content {
	margin-bottom: $spacing-unit;
}

.footnotes p {
	display: inline;
	font-size: 1.2rem;
	padding-left: 5px;
}

.site-footer {
	margin-bottom: $spacing-unit;
	font-size: 1.2rem;

	@media (min-width: 550px) {
		div > div:last-child {
			text-align: right;
		}
	}
}

img + em {
	font-size: 1rem;
	color: $light-gr;
	text-align: center;
	display: block;
}

img {
	max-height: 250px;
	max-width: 100%;
	width: auto;
	display: block;
	margin: 0 auto;
	border-radius: 5px;
	box-shadow: #e8e8e8 1px 1px 3px 1px;
}

.img_xs > img {
	max-height: 150px;
	width: auto;
}

pre > code {
	max-height: 450px;
	overflow-y: scroll;
}


/*
* Comments
*/

#comment_box{
	margin-top: 100px;

	>hr+h2{
		margin-bottom: 3.5rem;
	}
}
